.container{
  display: block;
  width: 860px;
  margin: 0 auto;
}

.caption{
  font-size: 12px;
  margin-top: -4px;
}
subtitle{
  margin-left:auto;
  margin-right:auto;
  font-family: 'Open Sans,' sans-serif;
  }


body{
  font-family: 'Open Sans', sans-serif;
}
h2{
  font-size: 17px;
  font-weight: 400;
}

.policechart{
  margin-top: 60px;
  margin-bottom: 50px;
}

p{
  margin-top:30px;
  margin-bottom:30px;
  line-height: 1.5;

}

img{
  width: 100%;
}

h1{
  font-weight: 700;
}
media (max-width:500px) {
  body {
    padding:15px;
  }
  h1 {
    font-size:30px;
  }

  .container{
    width:100%;

  }
  .imagecontainer img{
    width:100%;
